<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/style/style.css">
  
</head>
<body>

  <div class="head">
      <div class="logo">
        <div class="logo-inner">Logo</div>
      </div>
      <div class="menu">
            <ul class="menu-inner">
                <li class="menu-item">
                    <a class="menu-link" href="/">Home</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/juice">Juice</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/user">User</a>
                </li>
            </ul>
      </div>
    </div>