<%- include('../partials/head') %>

<h1>Please log in or register</h1>

<ul>
      <li><a href="user/login">Log In</a></li>
      <li><a href="user/register">Sign Up</a></li>
    </ul>

<%- include('../partials/foot') %>