<%- include('../partials/head') %>

<h1>USER DATA</h1>
<p>aldjajgfkkkkkkasdjasflaf;asf</p>
<p>aldjajgfkkkkkkasdjasflaf;asf</p>
<p>aldjajgfkkkkkkasdjasflaf;asf</p>

<ul>
  <li><a href="user/login">Log In</a></li>
  <li><a href="user/register">Sign Up</a></li>
</ul>

<%- include('../partials/foot') %>