<%- include('../partials/head') %>

<h1>EDIT</h1>
<form action="/user" method="post">
  First name:<br>
  <input type="text" name="first_name" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="last_name" value="Mouse">
  <br>
  Email:<br>
  <input type="text" name="email" value="mickey@mouse.com">
  <br>
  Password:<br>
  <input type="text" name="password" value="1234">
  <br>
  Age:<br>
  <input type="text" name="age" value="25">
  <br>
  Weight:<br>
  <input type="text" name="weight" value="55">
  <br>
  Height:<br>
  <input type="text" name="height" value="165">
  <br>
  Exercise level:<br>
  <input type="text" name="exercise_level" value="3">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<%- include('../partials/foot') %>