<%- include('../partials/head') %>

<h1>REGISTER</h1>
<form action="/user/register" method="post">
  First name:<br>
  <input type="text" name="first_name" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="last_name" value="Mouse">
  <br>
  Email:<br>
  <input type="text" name="email" value="mickey@mouse.com">
  <br>
  Password:<br>
  <input type="text" name="password" value="1234">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<%- include('../partials/foot') %>